#operator{
    width:290px;
    height: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -130px;
    margin-left: -145px;
}

#resultScreen{
    width: 234px;
    height: 56px;
    padding: 5px 0px;
    margin: 0;
    border: 1px solid black;
}

#anwser{
    padding: 0;
    margin: 0;
    height: 18px;
    text-align: right;
    font-size: 1em;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}

#equqtion{
    padding: 0;
    height: 24px;
    text-align: right;
    font-size: 1.4em;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}

table {
    float: left;
    border-spacing:0;
}

td {
    padding: 2;
}

.formc1sc {
    width:54px;
    height: 25px;
    padding-left: 2px;
    text-align: center;
    font-size: 1em;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: azure;

    
}
.formc2sc {
    width:54px;
    height: 25px;
    padding-left: 2px;
    text-align: center;
    font-size: 0.8em;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: beige;

}